html
  head
    title= "Demo Notes"
  body
    each note in notes
      p= note
      ul 
        li(class)=  note.title
        li=  note.content
        li=  note.createdAt
        li=  note.updatedAt



        